# Analisando o engajamento do Instagram

### O que queremos responder?
- Qual tipo de conteúdo **mais engaja** no Instagram da minha empresa?
<br><br>
- Temos a base de dados do Instagram **desde que o usuário começou a postar na marca até o dia 27/março**
<br><br>
- Ele também dá alguns direcionamentos:
    - Podem ignorar a coluna visualizações, queremos entender apenas curtidas, comentários e interações
    - Tags vazias é que realmente não possuem tag (favor tratar como vazio)

### Vamos importar e visualizar a nossa base

In [5]:
# Importando o pandas

import pandas as pd

In [6]:
# Importando a base em excel

base = pd.read_excel('08. Analisando o engajamento no Instagram.xlsx')

In [7]:
# Visualizando as 5 primeiras linhas

base.head()

,Tipo,Data,Curtidas,Comentários,Visualizações,Tags,Pessoas,Campanhas,Carrossel,Interacoes
0,Foto,2021-09-11,2858,16,NaN,Loja,N,N,NaN,2874
1,Foto,2021-09-11,2930,28,NaN,Loja/Produtos,N,N,NaN,2958
2,Foto,2021-09-11,2807,9,NaN,Loja,N,N,NaN,2816
3,Vídeo,2021-09-12,5115,49,82878.0,Produtos,N,N,NaN,5164
4,Foto,2021-09-13,4392,45,NaN,Produtos,S,N,NaN,4437

### Como ele pediu para não considerar a coluna visualizações, vamos retirar essa coluna da base

**O .drop() permite apagar uma coluna ou linha da base:** <br>
base<font color="blue">**.drop(**</font>nome_coluna,axis=1<font color="blue">**)**</font>
- O axis = 1 se refere a coluna, enquanto axis = 0 se refere a linha
- Devemos passar o nome da coluna que queremos apagar da base
- Em caso de mais de 1 coluna, passamos a lista entre colchetes

In [8]:
# Apagando a coluna "Visualizações"

base = base.drop("Visualizações", axis=1)

In [9]:
base.head()

,Tipo,Data,Curtidas,Comentários,Tags,Pessoas,Campanhas,Carrossel,Interacoes
0,Foto,2021-09-11,2858,16,Loja,N,N,NaN,2874
1,Foto,2021-09-11,2930,28,Loja/Produtos,N,N,NaN,2958
2,Foto,2021-09-11,2807,9,Loja,N,N,NaN,2816
3,Vídeo,2021-09-12,5115,49,Produtos,N,N,NaN,5164
4,Foto,2021-09-13,4392,45,Produtos,S,N,NaN,4437

In [10]:
base.tail()

,Tipo,Data,Curtidas,Comentários,Tags,Pessoas,Campanhas,Carrossel,Interacoes
47,IGTV,2022-03-12,5489,77,Dicas de como usar/Novos Produtos,S,N,NaN,5566
48,Foto,2022-03-20,29084,479,Datas comemorativas/Promoções,S,S,NaN,29563
49,Foto,2022-03-22,9087,106,NaN,S,S,NaN,9193
50,Foto,2022-03-26,16551,186,NaN,S,N,NaN,16737
51,IGTV,2022-03-27,4934,65,Dicas de como usar/Produtos,S,N,NaN,4999

In [12]:
# Tamanho da base
base.shape

(52, 9)

In [13]:
# Por ser pequeno, o display mostra a base toda
display(base)

,Tipo,Data,Curtidas,Comentários,Tags,Pessoas,Campanhas,Carrossel,Interacoes
0,Foto,2021-09-11,2858,16,Loja,N,N,NaN,2874
1,Foto,2021-09-11,2930,28,Loja/Produtos,N,N,NaN,2958
2,Foto,2021-09-11,2807,9,Loja,N,N,NaN,2816
3,Vídeo,2021-09-12,5115,49,Produtos,N,N,NaN,5164
4,Foto,2021-09-13,4392,45,Produtos,S,N,NaN,4437
5,Foto,2021-09-17,5359,62,Novos Produtos,N,S,S,5421
6,Foto,2021-09-19,21597,852,Novos Produtos,S,S,NaN,22449
7,Foto,2021-09-25,6346,33,Produtos,N,S,NaN,6379
8,Foto,2021-09-27,6355,89,Produtos,S,N,S,6444
9,Vídeo,2021-09-28,4056,81,Produtos,N,N,NaN,4137
10,Reels,2021-10-10,12894,249,Trends/Produtos,S,N,NaN,13143
11,Foto,2021-10-12,17831,391,NaN,S,S,NaN,18222
12,Foto,2021-10-21,6166,55,Novos Produtos,S,S,S,6221
13,Foto,2021-10-24,15940,612,Promoções,S,N,NaN,16552
14,Foto,2021-10-29,14121,184,Datas comemorativas,S,S,NaN,14305
15,Vídeo,2021-11-04,3646,71,Produtos,N,N,NaN,3717
16,Reels,2021-11-06,6376,137,Produtos,N,N,NaN,6513
17,Vídeo,2021-11-09,3213,60,Produtos,N,N,NaN,3273
18,Reels,2021-11-12,5493,59,Produtos,N,N,NaN,5552
19,Foto,2021-12-12,16086,268,NaN,S,S,NaN,16354
20,Foto,2021-12-16,2881,29,Produtos,N,N,NaN,2910
21,Foto,2021-12-23,8328,93,Produtos,S,N,S,8421
22,Foto,2021-12-26,18097,225,Influenciadores,S,S,NaN,18322
23,Foto,2021-12-28,8191,94,Influenciadores,S,N,NaN,8285
24,Vídeo,2021-12-30,17600,383,Trends,S,S,NaN,17983
25,Foto,2022-01-02,12193,138,Novos Produtos,S,N,S,12331
26,Foto,2022-01-08,24585,354,Datas comemorativas,S,S,S,24939
27,Foto,2022-01-11,16067,265,Novos Produtos,S,N,NaN,16332
28,Foto,2022-01-15,9936,119,Novos Produtos,S,N,S,10055
29,Foto,2022-01-19,8612,142,NaN,S,N,NaN,8754
30,Reels,2022-01-24,29981,502,Trends,S,S,NaN,30483
31,Foto,2022-01-27,10019,103,Novos Produtos,S,N,NaN,10122
32,IGTV,2022-02-04,9270,222,Dicas de como usar/Produtos,S,N,NaN,9492
33,Foto,2022-02-06,24655,186,Influenciadores,S,S,NaN,24841
34,Foto,2022-02-09,20660,292,Influenciadores,S,S,NaN,20952
35,IGTV,2022-02-10,8556,188,Dicas de como usar/Produtos,S,N,NaN,8744
36,Foto,2022-02-12,11802,102,Produtos,S,S,NaN,11904
37,Vídeo,2022-02-13,15219,357,Datas comemorativas,S,S,NaN,15576
38,Foto,2022-02-15,17687,213,NaN,S,N,NaN,17900
39,Foto,2022-02-17,37351,502,Promoções,S,S,NaN,37853
40,Foto,2022-02-21,21621,213,Influenciadores,S,S,S,21834
41,Foto,2022-02-22,12530,90,NaN,S,N,NaN,12620
42,Foto,2022-02-26,8544,72,Influenciadores,S,S,NaN,8616
43,Foto,2022-03-04,24399,266,NaN,S,S,NaN,24665
44,IGTV,2022-03-07,5918,116,Dicas de como usar/Novos Produtos,S,N,NaN,6034
45,Reels,2022-03-08,19621,275,Trends,S,S,NaN,19896
46,Foto,2022-03-09,4613,50,Influenciadores,S,N,NaN,4663
47,IGTV,2022-03-12,5489,77,Dicas de como usar/Novos Produtos,S,N,NaN,5566
48,Foto,2022-03-20,29084,479,Datas comemorativas/Promoções,S,S,NaN,29563
49,Foto,2022-03-22,9087,106,NaN,S,S,NaN,9193
50,Foto,2022-03-26,16551,186,NaN,S,N,NaN,16737
51,IGTV,2022-03-27,4934,65,Dicas de como usar/Produtos,S,N,NaN,4999

In [14]:
# Verificando as informações
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Tipo         52 non-null     object
 1   Data         52 non-null     datetime64[ns]
 2   Curtidas     52 non-null     int64
 3   Comentários  52 non-null     int64
 4   Tags         44 non-null     object
 5   Pessoas      52 non-null     object
 6   Campanhas    52 non-null     object
 7   Carrossel    8 non-null      object
 8   Interacoes   52 non-null     int64
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 3.8+ KB

### Carrossel possui apenas 8 valores não nulos
- Vamos entender os valores de carrossel

In [15]:
# Contando os valores que aparecem na coluna Carrossel

base.Carrossel.value_counts()

Carrossel
S    8
Name: count, dtype: int64

- Na verdade, os valores nulos são de postagens que não são carrossel. Sendo assim o nulo deveria ser "N"

### Tratando os valores nulos

In [18]:
# Filtrando os valores em que carrossel é nulo

base.loc[base.Carrossel.isnull()].head()

,Tipo,Data,Curtidas,Comentários,Tags,Pessoas,Campanhas,Carrossel,Interacoes
0,Foto,2021-09-11,2858,16,Loja,N,N,NaN,2874
1,Foto,2021-09-11,2930,28,Loja/Produtos,N,N,NaN,2958
2,Foto,2021-09-11,2807,9,Loja,N,N,NaN,2816
3,Vídeo,2021-09-12,5115,49,Produtos,N,N,NaN,5164
4,Foto,2021-09-13,4392,45,Produtos,S,N,NaN,4437

In [19]:
# Buscando valores que NAO sao nulos

base.loc[base.Carrossel.notnull()]

,Tipo,Data,Curtidas,Comentários,Tags,Pessoas,Campanhas,Carrossel,Interacoes
5,Foto,2021-09-17,5359,62,Novos Produtos,N,S,S,5421
8,Foto,2021-09-27,6355,89,Produtos,S,N,S,6444
12,Foto,2021-10-21,6166,55,Novos Produtos,S,S,S,6221
21,Foto,2021-12-23,8328,93,Produtos,S,N,S,8421
25,Foto,2022-01-02,12193,138,Novos Produtos,S,N,S,12331
26,Foto,2022-01-08,24585,354,Datas comemorativas,S,S,S,24939
28,Foto,2022-01-15,9936,119,Novos Produtos,S,N,S,10055
40,Foto,2022-02-21,21621,213,Influenciadores,S,S,S,21834

In [20]:
# Selecionando apenas a coluna Carrossel

base.loc[base.Carrossel.isnull(),"Carrossel"]

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
6     NaN
7     NaN
9     NaN
10    NaN
11    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
22    NaN
23    NaN
24    NaN
27    NaN
29    NaN
30    NaN
31    NaN
32    NaN
33    NaN
34    NaN
35    NaN
36    NaN
37    NaN
38    NaN
39    NaN
41    NaN
42    NaN
43    NaN
44    NaN
45    NaN
46    NaN
47    NaN
48    NaN
49    NaN
50    NaN
51    NaN
Name: Carrossel, dtype: object

In [21]:
# Agora vamos atribuir o valor N para essa coluna

base.loc[base.Carrossel.isnull(),"Carrossel"] = "N"

**Verificando novamente os valores de Carrossel:**

In [23]:
# Agora não existem valores nulos

base.loc[base.Carrossel.isnull()]

Empty DataFrame
Columns: [Tipo, Data, Curtidas, Comentários, Tags, Pessoas, Campanhas, Carrossel, Interacoes ]
Index: []

In [24]:
base.Carrossel.value_counts()

Carrossel
N    44
S     8
Name: count, dtype: int64